@charset "UTF-8";

body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 1.2rem;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
  cursor: pointer;
}